@{
    ViewData["Title"] = "SQL Lekérdezés írása";
}

<body class="hold-transition skin-blue sidebar-mini">
    <!-- Site wrapper -->
    <div class="wrapper">

        <header class="main-header">
            <!-- Logo -->
            <a href="/" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>S</b> A</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>SQL</b> App</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/Home/Logout">
                                <i class="fa fa-sign-out"></i>
                                Kijelentkezés
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    SQL Lekérdezések Szerkesztése
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-md-8">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">Adatbázis Szerver: ...</h3>
                            </div>
                            <!-- /.box-header -->
                            <!-- form start -->
                            <form method="post" role="form">
                                <div class="box-body">

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <label>Adatbázisok</label>
                                                <select multiple class="form-control" name="databaseName" id="databases">
                                                    @foreach (string s in ViewData["Databases"] as List<string>)
                                                    {
                                                        <option value="@s">@s</option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Táblák</label>
                                                <select multiple disabled class="form-control" id="tables"></select>
                                            </div>
                                            <div class="col-md-4">
                                                <label>Oszlopok</label>
                                                <select multiple disabled class="form-control" id="columns"></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="sqlTextarea">SQL lekérdezés</label>
                                        <textarea class="form-control" rows="10" name="sqlQuery" id="sqlTextarea"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary" value="Futtat">
                                    </div>
                                    @if (ViewData["Error"] != null)
                                    {
                                        <div class="alert alert-danger alert-dismissible">
                                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                            <h4><i class="icon fa fa-ban"></i> Hiba!</h4>
                                            @ViewData["Error"]
                                        </div>
                                    }
                                    
                                </div>
                                <!-- /.box-body -->

                                <div class="box-footer">
                                    <div class="form-group">
                                        <label for="exampleInputFile">SQL Fájl betöltése</label>
                                        <input type="file" name="sqlFile" id="sqlFile" accept=".sql">
                                    </div>
                                    <hr />
                                    <div class="form-group">
                                        <label for="exampleInputFile">SQL Mentése Fájlba</label>
                                        <input type="text" name="fileName" class="form-control">
                                        <div class="input-group-btn">
                                            <button type="submit" formaction="/Home/Save" class="btn btn-primary">Mentés</button>
                                        </div>
                                        <!-- /btn-group -->
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                    <!-- 
                        TODO: SQL kifejezések (select, select top, delete, insert, insert into),
                        SQL kulcsszavak 
                        
                        -->
                    <div class="col-md-4">
                        <div class="box box-primary">
                            <div class="box-header with-border">
                                <h3 class="box-title">SQL Kulcsszavak</h3>
                            </div>
                            <div class="container-fluid" id="sqlKeywords">
                                <label type="button" class="btn btn-primary">SELECT column FROM table_name</label>
                                <label type="button" class="btn btn-primary">SELECT TOP(1000) column FROM table_name</label>
                                <label type="button" class="btn btn-primary">
                                    INSERT INTO table_name (column)
                                    VALUES (value)
                                </label>
                                <label type="button" class="btn btn-primary">
                                    UPDATE table_name
                                    SET column = value
                                </label>

                                <label type="button" class="btn btn-primary">DELETE FROM table_name</label>
                                <label type="button" class="btn btn-primary">ALL</label>
                                <label type="button" class="btn btn-primary">AND</label>
                                <label type="button" class="btn btn-primary">AS</label>
                                <label type="button" class="btn btn-primary">ASC</label>
                                <label type="button" class="btn btn-primary">BETWEEN</label>
                                <label type="button" class="btn btn-primary">DESC</label>
                                <label type="button" class="btn btn-primary">DISTINCT</label>
                                <label type="button" class="btn btn-primary">EXEC</label>
                                <label type="button" class="btn btn-primary">EXISTS</label>
                                <label type="button" class="btn btn-primary">FROM</label>
                                <label type="button" class="btn btn-primary">GROUP BY</label>
                                <label type="button" class="btn btn-primary">HAVING</label>
                                <label type="button" class="btn btn-primary">IN</label>
                                <label type="button" class="btn btn-primary">INNER JOIN</label>

                                <label type="button" class="btn btn-primary">IS NULL</label>
                                <label type="button" class="btn btn-primary">IS NOT NULL</label>
                                <label type="button" class="btn btn-primary">JOIN</label>
                                <label type="button" class="btn btn-primary">LEFT JOIN</label>
                                <label type="button" class="btn btn-primary">LIKE</label>
                                <label type="button" class="btn btn-primary">NOT</label>
                                <label type="button" class="btn btn-primary">NOT NULL</label>
                                <label type="button" class="btn btn-primary">OR</label>
                                <label type="button" class="btn btn-primary">ORDER BY</label>
                                <label type="button" class="btn btn-primary">OUTER JOIN</label>
                                <label type="button" class="btn btn-primary">RIGTH JOIN</label>
                                <label type="button" class="btn btn-primary">UNION</label>
                                <label type="button" class="btn btn-primary">VALUES</label>
                                <label type="button" class="btn btn-primary">WHERE</label>
                                <label type="button" class="btn btn-primary">*</label>
                            </div>
                        </div>
                    </div>
                </div>



            </section>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.1.0
            </div>
            <strong>Copyright &copy; 2019 <a href="#">Lovas Bálint</a>.</strong> All rights
            reserved.
        </footer>

    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="/js/jquery.min.js"></script>
    <!-- jQuery UI 1.12.1 -->
    <script src="/js/jquery-ui.min.js" type="text/javascript"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="/js/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="/js/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="/js/adminlte.min.js"></script>
    <script src="/js/custom.js"></script>
</body>
