.content-wrapper, .main-footer {
    margin-left: 0!important;
}

div#sqlExpressions.container-fluid,
div#sqlKeywords.container-fluid {
    padding-bottom: 10px !important;
}

#sqlExpressions label,
#sqlKeywords label {
    margin-top: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

caption {
    padding-left: 8px;
}

#results {
    overflow-x: auto !important;
}
